<div id="add-friend-block">
  <%= render :partial => "friendships/display", :locals => { :friend => @profile } %>
</div>

<%= image_tag @profile.gravatar_url %>
<h1><%= @profile.try(:short_name) %></h3>
<h2>Email : <%= @profile.email %></h1>
<h2>First Name : <%= @profile.first_name %></h2>
<h2>Last Name : <%= @profile.last_name %></h2>
<h2>Bio : <%= @profile.bio %></h2>

<hr>

<h2>This user's Topics</h2>
<ul>
  <% @topics.each do |topic| %>
      <li>
        <%= link_to topic.title, topic_path(topic) %>
      </li>
  <% end %>
</ul>

<hr>

<h2>This user's comments</h2>
<ul>
  <% @comments.each do |comment| %>
    <li>
      <%= link_to comment.topic.title, topic_path(comment.topic) %>
    </li>
  <% end %>
</ul>

<h2>This user's favorite topics</h2>

<ul>
  <% @favorites.each do |favorite| %>
    <li>
      <%= link_to favorite.title, topic_path(favorite) %>
    </li>
  <% end %>
</ul>

<h2>This user's liked topics</h2>

<ul>
  <% @likes.each do |like| %>
    <li>
      <%= link_to like.title, topic_path(like) %>
    </li>
  <% end %>
</ul>

<%= link_to "back to index", topics_path %>
