<% if @topic.errors.any? %>
  <ul>
    <% @topic.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <%= f.label :title, "Title" %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
</div>

<div>
  <%= f.label :content, "Content" %>
  <%= f.text_area :content %>
</div>

<div>
  <%= f.file_field :pic %>
  <% if @topic.pic.exists? %>
    <%= check_box_tag "_remove_pic", "1" %> Remove Pic
 <% end %>
</div>

<div>
  <%= f.label :photos %>
  <%= file_field_tag "photos[]", :type => :file, :multiple => true %>
  <% if @topic.photos.exists? %>
    <%= check_box_tag "_remove_photos", "1" %> Remove Photos
  <% end %>
</div>

<div>
  <%= f.label :status, "Status" %>
  <%= f.select :status, [["draft","draft"],["release","release"]] %>
</div>