<h1>Shou's Forum Project</h1>
<div id="friend-ask-block">
  <%= render :partial => "friendships/request" %>
</div>


<%# Category sort %>
<%#= form_for @categories, :url => topics_path, :method => :post do |f| %>
<%# end %>
<%= link_to "<Sort>Sports", topics_path(:sort => "sports"), :class => "btn btn-info" %>
<%= link_to "<Sort>BoardGame", topics_path(:sort => "boardgame"), :class => "btn btn-info" %>
<%= link_to "<Sort>Love", topics_path(:sort => "love"), :class => "btn btn-info" %>
<%= link_to "<Sort>Action", topics_path(:sort => "action"), :class => "btn btn-info" %>
<%= link_to "<Sort>None", topics_path, :class => "btn btn-info" %>


<hr>

<%= link_to "New Topic", new_topic_path, :class => "btn btn-primary" %>
<%= link_to "<Order>Last comment time", topics_path(:order => "last_comment_time"), :class => "btn btn-warning" %>
<%= link_to "<Order>Comment Number", topics_path(:order => "comment_number"), :class => "btn btn-warning" %>
<%= link_to "<Order>clicks", topics_path(:order => "topic_clicks"), :class => "btn btn-warning" %>

<table class="table">
  <tr>
    <td>Topic</td>
    <td>User</td>
    <td>Clicks</td>
    <td>Comments</td>
    <td>last comment time</td>
    <td></td>
    <td></td>
    <td>Comments' involved user</td>
  </tr>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to topic.title, topic_path(topic) %></td>
      <td><%= link_to topic.user.show_name, info_profile_path(:id => topic.user.short_name) %></td>
      <td><%= topic.clicked %></td>

      <td><%= topic.comments_count %></td>
      <td>
        <% if topic.has_comment? %>
          <%= topic.updated_at %>
        <% else %>
          No Comments
        <% end %>
      </td>

      <td><%= link_to "Edit", edit_topic_path(topic), :class => "btn btn-default" %></td>
      <td><%= link_to "Delete", topic_path(topic), :method => :delete, :data => {:confirm => "Are you sure ?"}, :class => "btn btn-default" %></td>
      <td>
        <%= make_user_profile_links @short_names["#{topic.id}"] %>
        <% # TODO1 define a method in helper to let @short_names can have links to user profile %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @topics %>