<h1>YakuShou's Forum Project</h1>

<%= link_to "New Topic", new_topic_path %>

<table>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to topic.title, topic_path(topic) %></td>
      <td><%= topic.user.try(:short_name) %></td>
      <td><%= topic.clicked %></td>
      <td><%= topic.comments.count %></td>
      <td><%= topic.comments.last.updated_at %></td>
      <td><%= link_to "Edit", edit_topic_path(topic) %></td>
      <td><%= link_to "Delete", topic_path(topic), :method => :delete, :data => {:confirm => "Are you sure ?"} %></td>
    </tr>
  <% end %>
</table>