<h1>YakuShou's Forum Project</h1>

<%# Category sort %>
<%#= form_for @categories, :url => topics_path, :method => :post do |f| %>
<%# end %>
<%= link_to "<Sort>Sports", topics_path(:sort => "sports") %>
<%= link_to "<Sort>BoardGame", topics_path(:sort => "boardgame") %>
<%= link_to "<Sort>Love", topics_path(:sort => "love") %>
<%= link_to "<Sort>Action", topics_path(:sort => "action") %>
<%= link_to "<Sort>None", topics_path %>


<hr>

<%= link_to "New Topic", new_topic_path %>
<%= link_to "<Order>Last comment time", topics_path(:order => "last_comment_time") %>
<%= link_to "<Order>Comment Number", topics_path(:order => "comment_number") %>
<%= link_to "<Order>clicks", topics_path(:order => "topic_clicks") %>

<table>
  <tr>
    <td>Topic</td>
    <td>User</td>
    <td>Clicks</td>
    <td>Comments</td>
    <td>last comment time</td>
  </tr>
  <% @topics.each do |topic| %>
    <tr>
      <td><%= link_to topic.title, topic_path(topic) %></td>
      <td><%= link_to topic.user.try(:short_name), profile_info_path(:id => topic.user.id) %></td>
      <td><%= topic.clicked %></td>

      <td><%= topic.comments_count %></td>
      <td>
        <% if topic.comments_count != 0 %>
          <%= topic.updated_at %>
        <% else %>
          No Comments
        <% end %>
      </td>

      <td><%= link_to "Edit", edit_topic_path(topic) %></td>
      <td><%= link_to "Delete", topic_path(topic), :method => :delete, :data => {:confirm => "Are you sure ?"} %></td>
      <td>
        <% topic.comments.each do |comment| %>
          <%= comment.user.short_name %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>

<%= paginate @topics %>