<div>
  Title : <%= @topic.title %>
</div>
<div>
  Conetent : <%= @topic.content %>
</div>

<% if @topic.pic.exists? %>
  <%= image_tag(@topic.pic.url(:medium)) %>
<% else %>
  No Pic.
<% end %>


<ul>
  <% @topic.categories.each do |category| %>
  <li><%= category.name %></li>
  <% end %>
</ul>

<% if @is_favorite %>
  <%= link_to "already favorite", unfavorite_topic_path(@topic), :method => :post, :class => "btn btn-success" %>
<% else %>
  <%= link_to "favorite", favorite_topic_path(@topic), :method => :post, :class=> "btn btn-default" %>
<% end %>

<br>
<iframe src="https://www.facebook.com/plugins/like.php?href=<%= topic_url(@topic) %>&width=450&layout=standard&action=like&show_faces=true&share=true&height=80&appId=289617371382624" width="450" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<br>

<div id="subscription-block">
  <%= render :partial => "subscriptions/subscription", :locals => { :subscription => @subscription } %>
</div>

<div id="like-block">
  <%= render :partial => "likes/like", :locals => { :like => @like } %>
</div>

<hr>

<div id="comment-block">
  <h4>Comment area :</h4>
  <%= render :partial => "topic_comments/comment_block", :locals => {:topic => @topic, :comment => @comment} %>
</div>

<hr>

<%= link_to "New Comment", topic_path(@topic), :class => "btn btn-primary" %>
<table class="table">
  <thead>
    <td>Comment</td>
    <td>User</td>
    <td>Pic</td>
    <td></td>
    <td></td>
  </thead>
  <tbody class="comment-list">
    <% @comments.each do |comment| %>
      <tr id="comment-<%= comment.id %>">
        <td><%= comment.content %></td>
        <% # TODO 5 Remove every try method %>
        <td><%= link_to comment.user.show_name, info_profile_path(comment.user.short_name) %></td>
        <td>
          <% if comment.pic.exists? %>
            <%= image_tag(comment.pic.url(:medium)) %>
          <% else %>
            No Pic.
          <% end %>
        </td>
        <td><%= link_to "edit", topic_path(@topic, :cid => comment.id), :class => "btn btn-default" %></td>
        <td><%= link_to "delete", topic_comment_path(@topic, comment), :method => :delete, :data => {:confirm => "Are you sure ?"}, :class => "btn btn-default", :remote => true %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to "Back to Topics", topics_path %>

