<div>
  Title : <%= @topic.title %>
</div>
<div>
  Conetent : <%= @topic.content %>
</div>

<ul>
  <% @topic.categories.each do |category| %>
  <li><%= category.name %></li>
  <% end %>
</ul>

<% if @is_favorite %>
  <%= link_to "already favorite", unfavorite_topic_path(@topic), :method => :post, :class => "btn btn-success" %>
<% else %>
  <%= link_to "favorite", favorite_topic_path(@topic), :method => :post, :class=> "btn btn-default" %>
<% end %>

<br>
<iframe src="https://www.facebook.com/plugins/like.php?href=<%= topic_url(@topic) %>&width=450&layout=standard&action=like&show_faces=true&share=true&height=80&appId=289617371382624" width="450" height="20" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
<br>

<%= link_to "New Comment", new_topic_comment_path(@topic), :class => "btn btn-primary" %>
<table class="table">
  <tr>
    <td>Comment</td>
    <td>User</td>
    <td></td>
    <td></td>
  </tr>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.content %></td>
      <td><%= comment.user.try(:short_name) %></td>
      <% # TODO 5 Remove every try method %>
      <td><%= link_to "edit", edit_topic_comment_path(@topic, comment) %></td>
      <td><%= link_to "delete", topic_comment_path(@topic, comment), :method => :delete, :data => {:confirm => "Are you sure ?"} %></td>
    </tr>
  <% end %>
</table>


<%= link_to "Back to Topics", topics_path %>

