<div>
  Title : <%= @topic.title %>
</div>
<div>
  Conetent : <%= @topic.content %>
</div>

<ul>
  <% @topic.categories.each do |category| %>
  <li><%= category.name %></li>
  <% end %>
</ul>

<% if @is_favorite %>
  <%= link_to "already favorite", favorite_topic_path(@topic, :favorite => false), :class => "btn btn-success" %>
<% else %>
  <%= link_to "favorite", favorite_topic_path(@topic, :favorite => true), :class=> "btn btn-default" %>
<% end %>

<br>
<div class="fb-like" data-href=<%= topic_url(@topic) %> data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>

<br>

<%= link_to "New Comment", new_topic_comment_path(@topic), :class => "btn btn-primary" %>
<table class="table">
  <tr>
    <td>Comment</td>
    <td>User</td>
    <td></td>
    <td></td>
  </tr>
  <% @comments.each do |comment| %>
    <tr>
      <td><%= comment.content %></td>
      <td><%= comment.user.try(:short_name) %></td>
      <td><%= link_to "edit", edit_topic_comment_path(@topic, comment) %></td>
      <td><%= link_to "delete", topic_comment_path(@topic, comment), :method => :delete, :data => {:confirm => "Are you sure ?"} %></td>
    </tr>
  <% end %>
</table>


<%= link_to "Back to Topics", topics_path %>

