<% if @comment.errors.any? %>
  <ul>
    <% @comment.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<div>
  <%= f.label :content, "Content" %>
  <%= f.text_area :content %>
</div>

<div>
  <%= f.label :status, "Status" %>
  <%= f.select :status, [["draft","draft"],["release","release"]] %>
</div>