<!DOCTYPE html>
<html>
<head>
  <title>YakuShou's Forum Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- Load Facebook SDK for JavaScript -->
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>


<div>
  <% if flash[:notice].present? %>
    <%= flash[:notice] %>
  <% end %>
</div>
<div>
  <% if flash[:alert].present? %>
    <%= flash[:alert] %>
  <% end %>
</div>

<div>
  <%= link_to "About", about_topics_path %>
</div>
<div>
  <% if current_user && current_user.admin? %>
    <%= link_to "Admin", admin_topics_path %>
  <% end %>
</div>

<% if current_user %>
  Hi, <%= current_user.short_name %>
  <%= link_to "Log out", destroy_user_session_path, :method => :delete %> |
  <%= link_to "Modify information", edit_registration_path(:user) %>
<% else %>
  <%= link_to "Sign up", new_registration_path(:user) %> |
  <%= link_to "Log in", new_session_path(:user) %>
<% end %>

<%= yield %>

</body>
</html>
