<!DOCTYPE html>
<html>
<head>

  <%= yield :head %>

  <title>Shou's Forum Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div>
  <% if flash[:notice].present? %>
    <%= flash[:notice] %>
  <% end %>
</div>
<div>
  <% if flash[:alert].present? %>
    <%= flash[:alert] %>
  <% end %>
</div>

<div class="clearfix">
  <div class="pull-left">
    <div>
      <%= link_to "About", about_topics_path %>
    </div>
    <div>
      <% if current_user && current_user.admin? %>
        <%= link_to "Admin", admin_topics_path %>
      <% end %>
    </div>
  </div>
  <div class="pull-right">
    <% if current_user %>
      Hi, <%= current_user.short_name %>
      <%= link_to "Log out", destroy_user_session_path, :method => :delete %> |
      <%= link_to "Modify information", edit_registration_path(:user) %>
      <%#= link_to "facebook登出", destroy_user_session_path, :method => :delete %>
    <% else %>
      <%= link_to "Sign up", new_registration_path(:user) %> |
      <%= link_to "Log in", new_session_path(:user) %> |
      <%= link_to "facebook登入", user_omniauth_authorize_path(:facebook) %>
    <% end %>
  </div>
</div>




<%= yield %>

</body>
</html>
